body{
    background-image: url('spider-man.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: space;
}
.hight-light-label{
    display: block;
    min-height: 23px;
}
