body{
    background-image: url('spider-man.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: space;
}

.hight-light-label{
    display: block;
    min-height: 27px;
    font-size: 19px;
    font-style: italic;
}

.tool-name{
    background-color: white;
    padding: 10;
    border-radius: 3px;
}

html::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

html::-webkit-scrollbar
{
	width: 8px;
	background-color: #F5F5F5;
}

html::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #000000;
}

 table { border-collapse: collapse; margin-top: 10px; }
    th, td { padding: 6px 8px; border: 1px solid #ccc; }
    button { padding: 4px 10px; }
    .active { background-color: #d3ffd3; }
    .removed { opacity: 0.5; text-decoration: line-through; }